.vscode/**
.vscode-test/**
test/**
test-workspace/**
.gitignore
.vscodeignore
**/jsconfig.json
**/*.map
**/.eslintrc.json
.devcontainer/**
node_modules/**
webview-ui/**
src/**
webpack.config.js
.cpdox/**
